@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  @apply bg-teal-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-950 rounded-xl;
}

.toggleNav {
  @apply flex flex-col absolute top-1/2 left-1/2 -translate-x-1/2;
  @apply space-y-4 items-center mt-11 p-4 w-full bg-background-start bg-opacity-95;
}

.normalButton {
  background: linear-gradient(to bottom, #570030, #2b002b);
}

.gradientShopComponent {
  background: linear-gradient(to top, #570030, #2b002b);
}

.bgGradientLarge {
  background: linear-gradient(to left, #5c0023, #4b002c, #2b002b);
}

.gradientShopButton {
  background: linear-gradient(to bottom, #27272731, #18000e8c, #18000e);
}
